$yellow: #ffc107;

.sec1 {
    .nazva {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .services {
        .card {
            line-height: 1.5;
            border: none;

            .card-title {
                font-weight: bold;
                &:after {
                    margin-top: 7px;
                    margin-left: 0px;
                    margin-right: 0px;
                    display: block;
                    content: "";
                    height: 3px;
                    width: 65px;
                    background-color: #ffc107;
                }
            }

            .card-text {
                font-size: 14px;
            }
        }
    }
}

.sec2 {
    .row {
        padding: 0;

        .card {
            text-align: center;
            margin-right: 15px !important;
            border: none !important;
            font-weight: bold;

            @media screen and (max-width:576px) {
                margin-right: 0 !important;
            }

            .card-title {
                word-wrap: normal;
                text-align: center;
                font-size: 12px;
                width: 100%;
            }

            line-height: 1.5;

            .card-body {
                .text-center * {
                    color: $yellow;
                    font-size: 2.5em;
                    margin-bottom: .5em;
                }
            }
        }

        .wrapper-center {
            margin-right: auto;
            margin-left: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    // Текст под заголовком //
    .podnazva {
        font-size: 18px;
    }

    .text-slicer {
        width: 12em;
        height: 2.5px;
        background-color: $yellow;
    }


}