/* line 3, ../sass/denis.scss */
.sec2 .row .nazva {
  font-weight: bold !important;
  font-size: 25px !important;
}
/* line 8, ../sass/denis.scss */
.sec2 .row .text-slicer {
  width: 12em;
  height: 2.5px;
  background: yellow;
}
/* line 13, ../sass/denis.scss */
.sec2 .row .card {
  line-height: 1.5;
}
/* line 15, ../sass/denis.scss */
.sec2 .row .card .card-title {
  font-weight: bold;
}
/* line 17, ../sass/denis.scss */
.sec2 .row .card .card-title:after {
  display: block;
  content: "";
  height: 3px;
  width: 65px;
  background-color: orange;
}
