/*      FOOTER      */
/* line 6, ../sass/footer.scss */
.nazva {
  font-weight: bold !important;
  font-size: 35px !important;
}

/* line 10, ../sass/footer.scss */
.short-hr {
  max-width: 992px;
}

/* line 15, ../sass/footer.scss */
#shower {
  display: none;
}
/* line 19, ../sass/footer.scss */
#shower .tick-svg {
  width: 60px;
}
/* line 23, ../sass/footer.scss */
#shower .text-submitted {
  font-weight: bold;
  font-size: 20px;
  color: #ffc107;
}
/* line 28, ../sass/footer.scss */
#shower .text-submitted .green {
  color: green;
}

@keyframes showwww {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hiderrr {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 60, ../sass/footer.scss */
.myform .mega-legend {
  font-size: 19.5px;
  font-weight: bold;
  color: gray;
}
/* line 66, ../sass/footer.scss */
.myform .legends {
  font-weight: bold;
}
/* line 70, ../sass/footer.scss */
.myform .freebirdFormviewerViewNavigationNavControls {
  max-width: 8em;
  height: 100%;
}
/* line 74, ../sass/footer.scss */
.myform .freebirdFormviewerViewNavigationNavControls *, .myform .freebirdFormviewerViewNavigationNavControls:focus *, .myform .freebirdFormviewerViewNavigationNavControls:hover *, .myform .freebirdFormviewerViewNavigationNavControls:active * {
  outline: none !important;
  box-shadow: none !important;
}
/* line 83, ../sass/footer.scss */
.myform input {
  width: 100%;
}
/* line 86, ../sass/footer.scss */
.myform input[type="text"], .myform input[type="email"] {
  font-size: 15px !important;
  outline: none;
  padding: .5rem 1rem .5rem 1rem;
  transition: .3s linear;
}
/* line 94, ../sass/footer.scss */
.myform input[disabled] {
  pointer-events: none;
  cursor: text;
}
/* line 100, ../sass/footer.scss */
.myform textarea {
  width: 100%;
  background: #fff !important;
  font-size: 15px !important;
  outline: none;
  padding: .5rem 1rem .5rem 1rem;
  transition: .3s linear;
}
/* line 111, ../sass/footer.scss */
.myform input[type="text"], .myform input[type="email"] {
  border: none;
  background: #ededed !important;
  border-radius: 0;
  font-size: 15px !important;
  outline: none;
  padding: .5rem 1rem .5rem 1rem;
}
/* line 120, ../sass/footer.scss */
.myform input[type="text"]:hover, .myform input[type="text"]:focus, .myform input[type="text"]:active, .myform input[type="email"]:hover, .myform input[type="email"]:focus, .myform input[type="email"]:active {
  background: #f9f9f9 !important;
}
/* line 128, ../sass/footer.scss */
.myform input[type="submit"] {
  background: none;
  border-color: black;
  border-radius: 0px;
  color: #000;
  box-shadow: 0 0 1px #ccc;
  font-weight: bold;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  box-shadow: 0px 0 0 #ffc107 inset, 5px 5px 0 lightgray !important;
}
/* line 141, ../sass/footer.scss */
.myform input[type="submit"]:hover {
  background: none;
  box-shadow: 200px 0 0 #ffc107 inset, 2px 2px 0 lightgray !important;
  border-color: black;
  border-radius: 0px;
}
/* line 148, ../sass/footer.scss */
.myform input[type="submit"][disabled] {
  pointer-events: none;
  cursor: text;
  box-shadow: none !important;
  background-color: lightgray !important;
}
/* line 158, ../sass/footer.scss */
.myform textarea {
  background: #ededed !important;
  overflow-y: hidden;
  border: none;
  border-radius: 0px;
}
/* line 164, ../sass/footer.scss */
.myform textarea:hover, .myform textarea:focus, .myform textarea:active {
  background: #f9f9f9 !important;
}

/* line 175, ../sass/footer.scss */
.sec7 .fz35 * {
  color: #ffc107 !important;
}
/* line 178, ../sass/footer.scss */
.sec7 .fz35 *:hover {
  text-decoration: none !important;
}
/* line 182, ../sass/footer.scss */
.sec7 .headin6_foot {
  margin-top: 0;
  margin-bottom: 0.4em;
  padding-bottom: 0px !important;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .04em;
}
/* line 191, ../sass/footer.scss */
.sec7 .footer_soc {
  color: gray;
  transition: .3s linear;
}
/* line 195, ../sass/footer.scss */
.sec7 .footer_soc:hover {
  text-decoration: none;
  color: black;
}
/* line 200, ../sass/footer.scss */
.sec7 .footer_soc .yellow_bg {
  color: #ffc107 !important;
  font-size: 25px !important;
}
@media screen and (max-width: 576px) {
  /* line 207, ../sass/footer.scss */
  .sec7 *.col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*     FOOTER END     */
