@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
/* line 5, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/grisha.scss */
* {
  font-family: 'IBM Plex Sans', sans-serif !important;
  transition: all .3s linear;
}

/* line 10, ../sass/grisha.scss */
path * {
  stroke-dasharray: 1000;
  stroke-dashoffset: -250;
  animation: dash 4.75s linear forwards !important;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/* line 25, ../sass/grisha.scss */
.change6 {
  background: none;
  border-color: black;
  border-radius: 0px;
  color: #000;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  box-shadow: 0px 0 0 #ffc107 inset;
}
/* line 37, ../sass/grisha.scss */
.change6:hover {
  background: none;
  box-shadow: 200px 0 0 #ffc107 inset;
  border-color: black;
  border-radius: 0px;
}

/* line 45, ../sass/grisha.scss */
.sec1 {
  position: relative;
  height: 100vh;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 79%, 94% 88%, 86% 83%, 73% 93%, 65% 87%, 54% 97%, 38% 93%, 28% 100%, 16% 97%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 79%, 94% 88%, 86% 83%, 73% 93%, 65% 87%, 54% 97%, 38% 93%, 28% 100%, 16% 97%);
}
/* line 51, ../sass/grisha.scss */
.sec1 .image-pre-header {
  background: url("../images/fon1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 65, ../sass/grisha.scss */
.sec1 .row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 71, ../sass/grisha.scss */
.sec1 .row .middle-heading-container {
  text-align: center;
}
/* line 74, ../sass/grisha.scss */
.sec1 .row .middle-heading-container .main-heading {
  font-family: 'Righteous', cursive !important;
  text-shadow: 3px 3px 0px #727272;
  color: white;
  font-size: 70px;
  font-weight: bold;
  background-color: #ffc107;
}
@media screen and (max-width: 1108px) {
  /* line 74, ../sass/grisha.scss */
  .sec1 .row .middle-heading-container .main-heading {
    font-size: 50px;
  }
}
@media screen and (max-width: 776px) {
  /* line 74, ../sass/grisha.scss */
  .sec1 .row .middle-heading-container .main-heading {
    font-size: 40px;
  }
}
@media screen and (max-width: 608px) {
  /* line 74, ../sass/grisha.scss */
  .sec1 .row .middle-heading-container .main-heading {
    font-size: 25px;
  }
}
/* line 97, ../sass/grisha.scss */
.sec1 .row .middle-heading-container .text-slicer {
  widows: 8em;
  height: 2.5px;
  background: orange;
}
/* line 103, ../sass/grisha.scss */
.sec1 .row .middle-heading-container p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
