/* line 4, ../sass/navigHeader.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: #ffc107 !important;
}
/* line 9, ../sass/navigHeader.scss */
.navbar .navbar-brand {
  font-family: 'Righteous', cursive !important;
  font-size: 35px !important;
  font-weight: bold !important;
}
/* line 15, ../sass/navigHeader.scss */
.navbar .nav-link:after {
  position: relative;
  top: 3px;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #727272;
  transition: width .3s ease-in-out;
}
/* line 25, ../sass/navigHeader.scss */
.navbar .nav-link:hover:after {
  width: 100%;
}

/* line 31, ../sass/navigHeader.scss */
.scrolled {
  box-shadow: 0 0 15px #252525;
}
