/* line 4, ../sass/navigHeader.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: #ffc107 !important;
}
/* line 9, ../sass/navigHeader.scss */
.navbar .navbar-brand {
  font-family: 'Righteous', cursive !important;
  font-size: 35px !important;
  font-weight: bold !important;
}
/* line 14, ../sass/navigHeader.scss */
.navbar .nav-link {
  font-weight: bold;
}
/* line 16, ../sass/navigHeader.scss */
.navbar .nav-link:after {
  position: relative;
  top: 3px;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #727272;
  transition: width .3s ease-in-out;
}
/* line 26, ../sass/navigHeader.scss */
.navbar .nav-link:hover:after {
  width: 100%;
}
/* line 30, ../sass/navigHeader.scss */
.navbar .dropdown-menu {
  max-width: 320px;
}

/* line 35, ../sass/navigHeader.scss */
.tel-link-span {
  color: #ffc107;
  fill: #ffc107;
  transition: none !important;
}

/* line 41, ../sass/navigHeader.scss */
.tel-link:hover > .tel-link-span {
  color: black !important;
  fill: black !important;
  transition: none !important;
}

/* line 47, ../sass/navigHeader.scss */
.scrolled {
  box-shadow: 0 0 15px #252525;
}
