/* line 4, ../sass/navigHeader.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: #ffc107 !important;
}
/* line 9, ../sass/navigHeader.scss */
.navbar .navbar-brand {
  font-family: 'Righteous', cursive !important;
  font-size: 35px !important;
  font-weight: bold !important;
}

/* line 16, ../sass/navigHeader.scss */
.scrolled {
  box-shadow: 0 0 15px #252525;
}
