$yellow:#ffc107;

.text-slicer {
    width: 12em;
    height: 2.5px;
    background: $yellow;
}

.nazva {
    font-weight: bold !important;
    font-size: 35px !important;
}

.short-hr {
    max-width: 992px;
}

.sec2 {
    .row {
        .card {
            line-height: 1.5;
        }
    }
}

.card-title {
    font-weight: bold;
    text-align: center;
    font-size: 19.5px;

    &:after {
        margin-top: 7px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        content: "";
        height: 3px;
        width: 65px;
        background-color: $yellow;
    }


}

.sec3 {
    .card {
        text-align: center;
        margin-right: 15px !important;
        border: none !important;

        @media screen and (max-width:576px) {
            margin-right: 0 !important;
        }

        line-height: 1.5;

        .card-body {
            .conditioner {
                margin-bottom: 0.5em !important;
            }

            .text-center * {
                color: $yellow;
                font-size: 3em;
                margin-bottom: 1em;

            }
        }
    }
}

.sec7 {
 .headin6_foot{
    margin-top: 0;
    margin-bottom: 0.4em;
    padding-bottom: 0px!important;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .04em;
 }
 .footer_soc {
     color: gray;
    &:hover {
        text-decoration: none;
        color:black;
    }
     .yellow_bg {
         color: $yellow!important;
         font-size: 25px!important;
     }
     .adress {
         max-width: 100px!important;
     }
 }
}