.sec2 {
    .row {
        .nazva {
            font-weight: bold !important;
            font-size: 25px !important;
        }

        .text-slicer {
            width: 12em;
            height: 2.5px;
            background: yellow;
        }
        .card {
            line-height: 1.5;
        }

    }
}