@import "compass/reset";


* {
    font-family: 'IBM Plex Sans', sans-serif !important;
}

path * {
    stroke-dasharray: 1000;
    stroke-dashoffset: -250;
    animation: dash 4.75s linear forwards !important;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

$darkgray: rgb(37, 37, 37);
$yellow: #ffc107;
$red: rgb(212, 16, 16);

.golden {
    color: $yellow!important;
}

.r-text {
    color: $red !important;
}

.hid {
    display: none !important;
}

.mw320 {
    max-width: 200px !important;
    max-height: 200px !important;
}

.fz35 {
    font-size: 35px;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s linear;

    &:hover {
        filter: grayscale(0%);
    }
}

a:hover {
    text-decoration: none !important;
}

.bld {
    font-weight: bold;
}

.blck {
    color: black !important;
}

.lh-2 {
    line-height: 1.5;
}

.change6 {
    background: none;
    border-color: black;
    border-radius: 0px;
    color: #000;
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 $yellow inset, 5px 5px 0 lightgray;
    

    &:hover {
        background: none;
        box-shadow: 200px 0 0 $yellow inset, 2px 2px 0 lightgray;
        border-color: black;
        border-radius: 0px;
    }
}

.sec1 {
    position: relative;
    height: 100vh;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 79%, 94% 88%, 86% 83%, 73% 93%, 65% 87%, 54% 97%, 38% 93%, 28% 100%, 16% 97%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 79%, 94% 88%, 86% 83%, 73% 93%, 65% 87%, 54% 97%, 38% 93%, 28% 100%, 16% 97%);

    .image-pre-header {
        background: url('../images/fon1.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .row {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .middle-heading-container {
            text-align: center;
            .main-heading {
                display: block;
                margin-right: auto;
                margin-left: auto;
                max-width:600px;
                font-family: 'Righteous', cursive !important;
                text-shadow: 3px 3px 0px lighten($darkgray, 30%);
                color: white;
                font-size: 70px;
                font-weight: bold;
                background-color: $yellow;
                

                @media screen and (max-width:1108px) {
                    font-size: 50px;
                    max-width:450px;
                }

                @media screen and (max-width:776px) {
                    font-size: 40px;
                    max-width: 360px;
                }


            }

            .main-btn {
                
                max-width: 15em;

                svg {
                    position: relative;
                    font-size: 20px;
                    top: 2px;
                }
            }

            .text-slicer {
                widows: 8em;
                height: 2.5px;
                background: orange;
            }

            p {
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: bold;
            }
        }
    }
}

.sec4 {
    * {
        text-align: left !important;
    }

    .card {
        border: none !important;

        .card-title {
            font-weight: bold;

            &:after {
                display: none !important;
            }
        }
    }

    .slider-text-slicer {
        margin-bottom: .5em !important;
        height: 3px;
        width: 65px;
        background: $yellow;
        box-sizing: border-box;
    }

    .nazva {
        text-align: center !important;
    }
}

.sec6 {
    iframe {
        width: 70%;
        height: 500px;

        @media screen and (max-width: 768px) {
            width: 100%;
            height: 350px;
        }
    }
}


/*      FOOTER      */

.sec7 {
    .adr {
        width: 80%;
    }
    .fz35 *{
        color: $yellow!important;
        &:hover {
            text-decoration: none!important;
        }
    }
}

// After form has submitted
#shower {

    display: none;
    .tick-svg {
        width: 60px;
    }
    .text-submitted {
        font-weight: bold;
        font-size: 20px;
        color: $yellow;
        .green {
            color: green;
        }
    }
}

@keyframes showwww {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hiderrr {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// After form has submitted

// Google Form
.myform {
    max-width: 320px;
    .mega-legend {
        font-size: 19.5px;
        font-weight: bold;
        color: gray;
    }

    .legends {
        font-weight: bold;
    }

    .freebirdFormviewerViewNavigationNavControls {
        max-width: 7em;
        height: 100%;
        *,
        &:focus *,
        &:hover *,
        &:active * {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    input {
        width: 100%;

        &[type="text"],
        &[type="email"] {
            font-size: 15px !important;
            outline: none;
            padding: .5rem 1rem .5rem 1rem;
            transition: .3s linear;
        }
        &[disabled] {
            pointer-events: none;
            cursor: text;
        }
    }

    textarea {
        width: 100%;
        background: #fff !important;
        font-size: 15px !important;
        outline: none;
        padding: .5rem 1rem .5rem 1rem;
        transition: .3s linear;
    }

    input {

        &[type="text"],
        &[type="email"] {
            border: none;
            background: lightgoldenrodyellow !important;
            border-radius: 30px;
            border: 2.5px solid $yellow;
            font-size: 15px !important;
            outline: none;
            padding: .5rem 1rem .5rem 1rem;

            &:hover,
            &:focus,
            &:active {
                background: darken(lightgoldenrodyellow, 10%) !important;
            }
            
        }

        &[type="submit"] {
            background: none;
            border-color: black;
            border-radius: 0px;
            color: #000;
            box-shadow: 0 0 1px #ccc;
            font-weight: bold;
            -webkit-transition-duration: 0.3s;
            -webkit-transition-timing-function: linear;
            transition-duration: 0.3s;
            transition-timing-function: linear;
            box-shadow: 0px 0 0 $yellow inset, 5px 5px 0 lightgray!important;

            &:hover {
                background: none;
                box-shadow: 200px 0 0 $yellow inset, 2px 2px 0 lightgray!important;
                border-color: black;
                border-radius: 0px;
            }
            &[disabled] {
                pointer-events: none;
                cursor: text;
                box-shadow:none!important;
                background-color: lightgray!important;
            }
        }

    }

    textarea {
        background: lightgoldenrodyellow !important;
        overflow-y: hidden;
        border: none;
        border-radius: 8px;
        border: 2.5px solid $yellow;

        &:hover,
        &:focus,
        &:active {
            background: darken(lightgoldenrodyellow, 10%) !important;
        }
    }
    
}
// Google Form

/*     FOOTER END     */