@import "compass/reset";

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 0 15px gray;
    .navbar-brand {
        font-family: RighteousRegular!important, cursive;
        font-size: 25px!important;
        font-weight: bold!important;
    }
}

.sec1 {
    height: 100vh;
    background: url('../images/fon1.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}