$gray: rgb(37, 37, 37);
$yellow: #ffc107;

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: $yellow!important;
    .navbar-brand {
        font-family: 'Righteous', cursive !important;
        font-size: 35px!important;
        font-weight: bold!important;
    }

}

.scrolled {
    box-shadow: 0 0 15px $gray;
}