$gray: rgb(37, 37, 37);
$yellow: #ffc107;

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 0 15px $gray;
    .navbar-brand {
        font-family: 'Righteous', cursive !important;
        font-size: 25px!important;
        font-weight: bold!important;
    }
}

.scrolled {
    background: #ED4949!important;
    box-shadow: 0 0 10px black;
}