$gray: rgb(37, 37, 37);
$yellow: #ffc107;

.navbar {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: $yellow!important;
    .navbar-brand {
        font-family: 'Righteous', cursive !important;
        font-size: 35px!important;
        font-weight: bold!important;
    }
    .nav-link {
        font-weight: bold;
        &:after {
            position: relative;
            top: 3px;
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            background-color: lighten($gray, 30%);
            transition: width .3s ease-in-out;
        }
        &:hover:after {
            width: 100%;
        }
    }
}

.scrolled {
    box-shadow: 0 0 15px $gray;
}