/* line 3, ../sass/navigHeader.scss */
.nav-cont {
  background: white !important;
  position: fixed;
  width: 100%;
  z-index: 999999;
  transition: .3s linear;
}
/* line 10, ../sass/navigHeader.scss */
.nav-cont .greenhub {
  width: 120px !important;
}
/* line 13, ../sass/navigHeader.scss */
.nav-cont .announcements {
  width: 100% !important;
}
/* line 17, ../sass/navigHeader.scss */
.nav-cont .active {
  background-color: white !important;
  border: none !important;
  color: black !important;
  box-shadow: inset 0 1em #fff, inset 0 1.8em #ffdb6d;
}
/* line 22, ../sass/navigHeader.scss */
.nav-cont .active:hover, .nav-cont .active:active, .nav-cont .active:focus {
  background-color: white !important;
  border: none !important;
  color: black !important;
  box-shadow: inset 0 1em #fff, inset 0 1.8em #ffdb6d;
}
@media screen and (min-width: 1280px) {
  /* line 31, ../sass/navigHeader.scss */
  .nav-cont .mw1280 {
    max-width: 1280px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
  /* line 38, ../sass/navigHeader.scss */
  .nav-cont .mw992 {
    max-width: 992px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
/* line 45, ../sass/navigHeader.scss */
.nav-cont .navbar {
  background: none !important;
  z-index: 99999;
  transition: .3s linear;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
/* line 52, ../sass/navigHeader.scss */
.nav-cont .navbar .gray-box {
  position: relative;
}
/* line 55, ../sass/navigHeader.scss */
.nav-cont .navbar .gray-box .navbar-brand {
  letter-spacing: 3px;
  font-family: 'Atures900' !important;
  font-size: 30px !important;
  font-weight: bold !important;
  color: black;
  width: 100%;
  height: 100%;
  transition: .3s linear;
}
/* line 64, ../sass/navigHeader.scss */
.nav-cont .navbar .gray-box .navbar-brand .smtxt {
  font-family: 'Atures900' !important;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  /* line 45, ../sass/navigHeader.scss */
  .nav-cont .navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 0 3px gray;
  }
  /* line 75, ../sass/navigHeader.scss */
  .nav-cont .navbar .nav-link, .nav-cont .navbar.nav-item {
    display: list-item !important;
    max-width: 100px !important;
  }
}
/* line 81, ../sass/navigHeader.scss */
.nav-cont .navbar .nav-link {
  color: black;
  font-size: 17.5px;
  font-weight: bolder !important;
  box-shadow: inset 0 0 #fff, inset 0 0 #ffe7a0;
  transition: .3s linear;
}
/* line 101, ../sass/navigHeader.scss */
.nav-cont .navbar .nav-link:hover, .nav-cont .navbar .nav-link:focus, .nav-cont .navbar .nav-link:active {
  box-shadow: inset 0 1.5em #fff, inset 0 1.8em #ffdb6d;
}
/* line 108, ../sass/navigHeader.scss */
.nav-cont .navbar .active {
  width: 80px;
  box-shadow: inset 0 1.5em #fff, inset 0 1.8em #ffdb6d;
}
/* line 113, ../sass/navigHeader.scss */
.nav-cont .navbar .dropdown-toggle:after {
  display: none;
}
/* line 117, ../sass/navigHeader.scss */
.nav-cont .navbar .fa-angle-down {
  position: relative;
  top: 1px;
  left: 3px;
}
/* line 123, ../sass/navigHeader.scss */
.nav-cont .navbar .dropdown-menu {
  max-width: 320px;
}
/* line 128, ../sass/navigHeader.scss */
.nav-cont .tel-link {
  color: black !important;
  transition: .3s linear;
}
/* line 133, ../sass/navigHeader.scss */
.nav-cont .tel-link-span {
  color: transparent;
  fill: transparent;
  transition: .3s linear;
}
@media screen and (max-width: 992px) {
  /* line 133, ../sass/navigHeader.scss */
  .nav-cont .tel-link-span {
    color: #ffc107 !important;
    fill: #ffc107 !important;
  }
}
/* line 145, ../sass/navigHeader.scss */
.nav-cont .tel-link:hover > .tel-link-span {
  color: #ffc107 !important;
  fill: #ffc107 !important;
}

/* line 152, ../sass/navigHeader.scss */
.scrolled {
  box-shadow: 0 0 5px #252525;
}
/* line 154, ../sass/navigHeader.scss */
.scrolled .navbar-brand {
  color: black !important;
}
/* line 157, ../sass/navigHeader.scss */
.scrolled .tel-link {
  color: black !important;
}
/* line 160, ../sass/navigHeader.scss */
.scrolled.nav-cont {
  background: white !important;
}
/* line 162, ../sass/navigHeader.scss */
.scrolled.nav-cont .nav-link {
  color: black;
}
/* line 165, ../sass/navigHeader.scss */
.scrolled.nav-cont .nav-link:after {
  display: none;
}
/* line 171, ../sass/navigHeader.scss */
.scrolled .active {
  box-shadow: inset 0 1.5em #fff, inset 0 1.8em #ffdb6d !important;
  transition: all .5s linear;
}
/* line 175, ../sass/navigHeader.scss */
.scrolled .active:hover, .scrolled .active:focus, .scrolled .active:active {
  box-shadow: inset 0 1.8em #fff, inset 0 2em #ffdb6d;
}

/* line 183, ../sass/navigHeader.scss */
.dropdown-link-active {
  background-color: #ffc107 !important;
  border: none !important;
  color: black !important;
}
/* line 187, ../sass/navigHeader.scss */
.dropdown-link-active:hover, .dropdown-link-active:active, .dropdown-link-active:focus {
  background-color: #ffc107 !important;
  border: none !important;
  color: black !important;
}
