/* line 3, ../sass/denis.scss */
.sec1 {
  height: 90vh;
}
/* line 5, ../sass/denis.scss */
.sec1 .row {
  padding: 0;
}
/* line 8, ../sass/denis.scss */
.sec1 .row .card {
  text-align: center;
  margin-right: 15px !important;
  border: none !important;
  font-weight: bold;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  /* line 8, ../sass/denis.scss */
  .sec1 .row .card {
    margin-right: 0 !important;
  }
}
/* line 21, ../sass/denis.scss */
.sec1 .row .card .card-body .text-center * {
  color: #ffc107;
  font-size: 3em;
  margin-bottom: .5em;
}
/* line 29, ../sass/denis.scss */
.sec1 .row .wrapper-center {
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 39, ../sass/denis.scss */
.sec1 .podnazva {
  font-size: 18px;
}
/* line 42, ../sass/denis.scss */
.sec1 .text-slicer {
  width: 12em;
  height: 2.5px;
  background-color: #ffc107;
}

/* line 52, ../sass/denis.scss */
.sec2 .nazva {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
/* line 58, ../sass/denis.scss */
.sec2 .services .card {
  line-height: 1.5;
  border: none;
}
/* line 63, ../sass/denis.scss */
.sec2 .services .card .card-title:after {
  margin-top: 7px;
  margin-left: 0px;
  margin-right: 0px;
}
/* line 69, ../sass/denis.scss */
.sec2 .services .card .card-text {
  font-size: 14px;
}
