$darkgray: rgb(37, 37, 37);
$yellow: #ffc107;
$red: rgb(212, 16, 16);
$wht: #ffffff;

.text-slicer {
    width: 12em;
    height: 2.5px;
    background: $yellow;
}

.sec1 {
    .zaly {
        font-size: 20px;
    }
}

.sec2 {
    .list-group {
        position: relative;
    }
}